<div class="row">
  <div class="col-md-4">
    <form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="logIn(loginForm)">
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" [(ngModel)]="user.username" id="inputUsername" name="username" placeholder="Username"
          required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required
          minlength="1">
      </div>
      <div class="form-group">
        <button class="btn btn-primary pull-right" [disabled]="!loginForm.form.valid">Connexion</button>
      </div>
    </form>
  </div>
  {{loggedUser.username}}
   <div *ngIf="loggedUser.username != ''">
    <a (click)="logOut(loggedUser)">Log out</a>
  </div>
</div>
