<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Log in</title>
   <link rel="stylesheet" href="..{{ url_for('static', filename='CSS/style.css') }}">
</head>

<body>
   <form action="http://localhost:5000/register" method="post">
      <h1>test</h1>
      <p class="try">Enter Name:</p>
      <p><input type="text" name="username" /></p>
      <p><input type="text" name="password" /></p>
      <p><input type="text" name="gender" /></p>
      <p><input type="text" name="email" /></p>
      <p><input type="submit" value="submit" /></p>
   </form>
   <p>Username {{existent_username}} is already taken </p>
</body>

</html>